<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bawp.jetweatherforecast">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.weatherappication.WeatherApp.WeatherApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherAppication">
        <activity
            android:name="com.example.weatherappication.LunchActivity"
            android:exported="true"
            android:label="@string/title_activity_lunch"
            android:theme="@style/Theme.WeatherAppication" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.weatherappication.Basics.BasicActivity"
            android:exported="false"
            android:label="@string/title_activity_basic"
            android:theme="@style/Theme.WeatherAppication" />

        <activity
            android:name="com.example.weatherappication.IntroToCompose.IntroToComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_intro_to_compose"
            android:theme="@style/Theme.WeatherAppication" />
        <activity
            android:name="com.example.weatherappication.CalculatorApp.CalculatorAppActivity"
            android:exported="false"
            android:label="@string/title_activity_calculator_app"
            android:theme="@style/Theme.WeatherAppication" />
        <activity
            android:name="com.example.weatherappication.BizCard.BizCardActivity"
            android:exported="false"
            android:label="@string/title_activity_biz_card"
            android:theme="@style/Theme.WeatherAppication" />
        <activity
            android:name="com.example.weatherappication.MovieApp.MovieAppActivity"
            android:exported="false"
            android:label="@string/title_activity_movie_app"
            android:theme="@style/Theme.WeatherAppication" />
        <activity
            android:name="com.example.weatherappication.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WeatherAppication"
            tools:ignore="MissingClass">

        </activity>
    </application>

</manifest>